table {
    border: 1px solid rgba(104, 74, 98, 0.219);
    border-collapse: collapse;
    margin: 10px;
    margin-top: 3rem;
    margin-left: 35%;
    margin-right: 60%;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.548);
    color: rgb(25, 44, 44);
    
}
header {
    letter-spacing: 3px;
    font-size: large;
    font-style: italic;
    color: rgba(95, 74, 95, 0.33);
}
thead {
    background-color: rgba(255, 255, 255, 0.911);
}

p {
    font-style: italic;
    color:rgba(95, 74, 95, 0.712);
}

table th, table td {
    padding: 10px;
    text-align: right;
}


tbody td {
    border: 1px solid rgba(104, 74, 98, 0.178);
}

