#product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    text-align: center;
    background-color: rgb(247, 243, 247);
}

h1, h2 {
    font-family: 'Signika', sans-serif;
    letter-spacing: 3px;
}

h2 {
    color: rgba(163, 118, 154, 0.39);
    font-size: large;
}

h1 {
    color: rgba(95, 74, 95, 0.205);
    letter-spacing: 5px;
    font-style: italic;
    font-size: xx-large;
}

h3 {
    color: rgba(104, 74, 98, 0.363);
    letter-spacing: 2px;
}

img {
    width: 120px;
    height: 230px;
}

.prod-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 20px solid rgba(247, 209, 205, 0.473);
    align-items: center;
    padding: 20px;
    width: 200px;
    margin: 10px;
    border-radius: 10%;
    background-color: white;
}

.prod-card:hover {
    animation-name: FadeIn;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
h1:hover {
    animation-name: FadeIn;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
@keyframes FadeIn {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.4;
    }
  }
  
  @-moz-keyframes FadeIn {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.4;
    }
  }
  
  @-webkit-keyframes FadeIn {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.4;
    }
  }
#product-list {
    display: flex;
    flex-direction:inherit;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.image:hover {
    opacity: 0.5;
}
